<div id="dev_ref" class="row tab-pane">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>About Functions Hub</h3>
            <p>
Functions Hub is an open marketplace that lets you upload functions for use in <a href="https://arxiv.org/abs/1706.03178">Function-as-a-Service</a> environments and share them with other developers. It is mostly decentralised -- any accounts are outsourced to XMPP servers (those capable of XEP0049/Private Namespaces and XEP0060/PubSub, such as jabber.root.cz / jabb.im), and all functions are stored in a Git repository. No vendor lock-in!
            </p>
            <p>
Functions Hub is 'de-facto standards compliant' and does not mandate any new tools.
Submit your functions through the usual deployment tools (aws, wsk, gcloud).
For the time being, submission works without authentication.
            </p>
            <p>
This is a research prototype by the invincible Service Tooling initiative of the <a href="https://blog.zhaw.ch/icclab/category/labs/splab/">Service Prototyping Lab</a> at Zurich University of Applied Sciences in Switzerland. Things may and will break. We will not run the marketplace commercially, but we'd be happy to hear if you do. No cats were harmed and no venture capital was burnt for setting this up. Credits: The marketplace frontend is a derivative of a previous research prototype by <a href="http://www.uliana.me/">Uliana Andriiyeshyna</a>.
            </p>
        </div>
    </div>
</div>
