<div id="dev_ref" class="row tab-pane">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>SensDash configuration</h3>
            <p><strong>Step 1: </strong> Download configuration files and explore system architecture from a description files </p>

            <a href="../app/js/config.js"  download="Source">Source</a>

            <p><strong>Step 2:</strong> Explore end-point configuration and interconnect with it by using specified standard in JSON format(app/api/sensors/all). </p>

            <p><strong>Step 3:</strong> Open config file /app/js/config.js and fill in all parameters. Detailed information about variables you can find in specification of XMPP.</p>

            <p><strong>Step 4:</strong> Save changes and reload the page. Open debugger in browser and take a look on logs. It will tell you where possible errors occur.</p>

            <p><strong>Note: </strong>Helpful links:
                <br/>
                <a href="#">REST API, JSON;</a>
                <a href="#"> XMPP Private Namespace(XEP0049);</a>
                <a href="#"> XMPP PubSub(XEP0060);</a>
                <a href="#"> AngularJS</a>
            </p>
        </div>
    </div>
</div>